.post{
  //background-image: url("../assets/japan.jpg");
  //background-repeat: no-repeat;
  background-color: black;
  &__id{
    color: peru;
    font-family: Roboto;
    font-size: 24px;
  }
  &__body{
    color: burlywood;
    font-family: Candara;
    fony-size: 20px;
  }
  &__btn{
    background-color: antiquewhite;
    color: plum;
    border: solid antiquewhite 1px;
  }
}
